body
    display: grid
    grid-template-rows: auto 1fr auto
    min-height: 100vh

main
    padding-top: 30px
    padding-bottom: 30px

card
    max-width: 150px

a
    color: #fff
    text-decoration: none