{% extends "base.jinja" %}
{% block title %}BoI Companion{% endblock %}
{% block scripts %}
    <script src="/static/js/data_isaac.js" defer></script>
    <script src="/static/js/guide.js" defer></script>
{% endblock %}
{% block contenu %}
    <div id="backButton"></div>
    <section id="guideHeaders">
        <h2>Bosses</h2>
        <div id="GuideSatan" class="stretched-link">
            <p>Satan</p>
            <img src="/static/images/GuideImages/SatanBossGuide.png" alt="Image Satan">
        </div>
        <div id="GuideIsaac" class="stretched-link">
            <p>Isaac</p>
            <img src="/static/images/GuideImages/IsaacBossGuide.png" alt="Image Isaac">
        </div>
        <div id="GuideBlueBaby" class="stretched-link">
            <p>BlueBaby</p>
            <img src="/static/images/GuideImages/BlueBabyBossGuide.png" alt="Image BlueBaby">
        </div>
        <div id="GuideTheLamb" class="stretched-link">
            <p>The Lamb</p>
            <img src="/static/images/GuideImages/TheLambBossGuide.png" alt="Image The Lamb">
        </div>
        <div id="GuideHush" class="stretched-link">
            <p>Hush</p>
            <img src="/static/images/GuideImages/HushBossGuide.png" alt="Image Hush">
        </div>
        <div id="GuideBossRush" class="stretched-link">
            <p>BossRush</p>
            <img src="/static/images/GuideImages/BossRushGuide.png" alt="Image Boss Rush">
        </div>
        <div id="GuideMegaSatan" class="stretched-link">
            <p>Mega Satan</p>
            <img src="/static/images/GuideImages/MegaSatanBossGuide.png" alt="Image MegaSatan">
        </div>
        <div class="stretched-link">
            <p>Delirium (Coming soon)</p>
            <img src="/static/images/GuideImages/DeliriumBossGuide.png" alt="Image Delirium">
        </div>
        <div id="GuideMother" class="stretched-link">
            <p>Mother</p>
            <img src="/static/images/GuideImages/MotherBossGuide.png" alt="Image Mother">
        </div>
        <div id="GuideBeast" class="stretched-link">
            <p>The Beast</p>
            <img src="/static/images/GuideImages/BeastBossGuide.png" alt="Image Beast">
        </div>
    </section>
    <section id="guideSteps" class="guide">

    </section>
{% endblock %}