{% extends "base.jinja" %}
{% block contenu %}
    <section>
        <p>Bienvenue sur l'accueil du Companion de CHAD</p>
        <p>Veuillez entrer votre steam ID, </p>
        <form>
            <label for="steamid">STEAM ID :</label>
            <input type="text" name="steamid" placeholder="STEAM ID">
            <input type="submit" value="Valider">
        </form>

    </section>
{% endblock %}