{% extends "base.jinja" %}
{% block scripts %}
    <script src="/static/js/utils.js" defer></script>
{% endblock %}
{% block contenu %}
    <section class="text-center p-5">
        <h1>Binding of Isaac Companion</h1>
        <p>To have access to the companion, please enter your Steam ID bellow.</p>

        <form>
            <label for="steamid" >STEAM ID :</label>
            <input type="text" id="steamid" name="steamid" placeholder="Steam Id...">
            <input type="button" value="Let's go" id="steamid-button">
            <div class="invalid-feedback" id="validation_steam_id"></div>
        </form>
    </section>

    <section>
        <h4 class="mb-3 text-center">
            Informations about Isaac Companion
        </h4>
        <div>
            <div class="d-flex justify-content-around">
                <div class="card-info text-center">
                    <h5>Card</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus dolorem doloribus facere libero maiores, maxime mollitia nemo nesciunt provident repellat, saepe soluta tempora! Impedit laboriosam perferendis reiciendis voluptatem voluptatibus.</p>
                </div>
                <div class="card-info text-center">
                    <h5>Card</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus dolorem doloribus facere libero maiores, maxime mollitia nemo nesciunt provident repellat, saepe soluta tempora! Impedit laboriosam perferendis reiciendis voluptatem voluptatibus.</p>
                </div>
                <div class="card-info text-center">
                    <h5>Card</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus dolorem doloribus facere libero maiores, maxime mollitia nemo nesciunt provident repellat, saepe soluta tempora! Impedit laboriosam perferendis reiciendis voluptatem voluptatibus.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}