{% extends "base.jinja" %}
{% block title %}BoI Companion{% endblock %}
{% block scripts %}
    <script src="/static/js/utils.js" defer></script>
{% endblock %}
{% block contenu %}
    <section class="text-center p-5">
        <h1>Binding of Isaac Companion</h1>
        <p>To have access to the companion, please enter your Steam/Profile ID bellow.</p>

        <form>
            <label for="steamid-input" >STEAM ID :</label>
            <input type="text" id="steamid-input" name="steamid-input" placeholder="Steam Id...">
            <input type="button" id="steamid-button" value="Let's go">
            <div class="invalid-feedback" id="validation_steam_id"></div>
        </form>
        <h4 class="p-5">Or...</h4>
        <div class="steam_button text-center">
            <a href="/steamAuth">Log in with steam</a>
            <img src="/static/images/steam-logo-black-transparent.png" alt="SteamLogo" class="steam_logo w-25">
        </div>


    </section>

    <section>
        <h4 class="mb-3 text-center">
            Informations about Isaac Companion
        </h4>
        <div>
            <div class="d-flex justify-content-around">
                <div class="card-info text-center">
                    <h5>Purpose</h5>
                    <img src="/static/images/Stage_Mirrored_World_room.webp" alt="MiroirStageImage" class="w-100 rounded">
                    <p>The goal of this website is to help you to begin your journey playing The Binding of Isaac. You will find plenty of tips and tricks to obtain the main achievements in the game so you can progress faster.</p>
                </div>
                <div class="card-info text-center">
                    <h5>Achievements</h5>
                    <img src="/static/images/Stage_Caves_room.webp" alt="CavesStageImage" class="w-100 rounded">
                    <p>Achievements in The Binding of Isaac are a huge part of the game. Each boss you kill will unlock a new item that will to spawn in your next runs. In the tab "My Achievements", you can take a look at all the completion mark you have done with every characters.</p>
                </div>
                <div class="card-info text-center">
                    <h5>Card</h5>
                    <img src="/static/images/Stage_Corpse_room.webp" alt="CorpseStageImage" class="w-100 rounded">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus dolorem doloribus facere libero maiores, maxime mollitia nemo nesciunt provident repellat, saepe soluta tempora! Impedit laboriosam perferendis reiciendis voluptatem voluptatibus.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}