{% extends "base.jinja" %}
{% block scripts %}
    <script src="/static/js/utils-ajax.js" defer></script>
    <script src="/static/js/data_isaac.js" defer></script>
    <script src="/static/js/myAchievements.js" defer></script>
{% endblock %}
{% block contenu %}
    <h2>My Achievements</h2>

    <div class="row" id="myAchievementsId">

    </div>





{% endblock %}