{% extends "base.jinja" %}
{% block scripts %}
    <script src="/static/js/data_isaac.js" defer></script>
    <script src="/static/js/utils-ajax.js" defer></script>
    <script src="/static/js/playerStats.js" defer></script>
{% endblock %}
{% block contenu %}
    <div class="text-center">
        <h1>Hello {{ player_name }} !</h1>
        <img src="{{ profile_pic }}" class="border border-dark">
        <p class="mt-4">Achievements Unlocked : {{ achievements_completed }}</p>
    </div>
    <div class="m-5">
        <h2 class="text-center">
            Latest Achievements unlocked
        </h2>
        <div class="row justify-content-md-center">
        {% for i in latest_achievements %}
            <img src="{{ i }}" alt="achievement{{ i }}" class="col-1 p-2">
        {% endfor %}
        </div>
    </div>


    <div class="d-flex justify-content-around nav-achievement-progress mt-3 mb-3">
        <div id="main-stats">
            Main Achievements
        </div>
        <div id="characters-stats">
            Characters
        </div>
        <div id="items-stats">
            Items
        </div>
    </div>

    <div id="stats-achievements" class="row justify-content-md-center">

    </div>


{% endblock %}