{% extends "base.jinja" %}
{% block scripts %}
    <script src="/static/js/data_isaac.js" defer></script>
    <script src="/static/js/utils-ajax.js" defer></script>
    <script src="/static/js/playerStats.js" defer></script>
{% endblock %}
{% block contenu %}
    <div class="text-center">
        <h1>Hello {{ player_name }} !</h1>
        <img src="{{ profile_pic }}" class="border border-dark">
        <p class="mt-4">Achievements Unlocked : {{ achievements_completed }}</p>
    </div>
    <div class="m-5">
        <h2 class="text-center">
            Latest Achievements unlocked
        </h2>
        <div class="row justify-content-center">
        {% for i in latest_achievements %}
            <img src="{{ i }}" alt="achievement{{ i }}" class="col-md-1 col-3 p-2">
        {% endfor %}
        </div>
    </div>
{#    <div class="next-unlock">#}
{#        <h4>Next, you should unlock this : </h4>#}
{#    </div>#}

    <h3 class="text-center">Progresion</h3>
    <p class="text-center">Go in the <a id="guideLinkText" href="/api/guide">GUIDE</a> if you don't know how to beat a certain boss</p>
    <div class="row text-center mt-3 mb-3 justify-content-around mr-5 ml-5">
        <div id="main-stats" class="btn-stats-achievement col-sm-12 col-md-3">
            Main Content Progression
        </div>
        <div id="characters-stats" class="btn-stats-achievement col-sm-12 col-md-3">
            Characters Progression
        </div>
        <div id="items-stats" class="btn-stats-achievement col-sm-12 col-md-3">
            Items Progression
        </div>
    </div>

    <div id="stats-achievements" class="row justify-content-center">

    </div>


{% endblock %}